@charset "UTF-8";
@font-face {
  font-family: "IRANSansWeb";
  font-style: normal;
  font-display: fallback;
  src: url("../font/IRANSansWeb.woff") format("woff"), url("../font/IRANSansWeb.woff2") format("woff2");
}
@font-face {
  font-family: "IRANSansWeb_Bold";
  font-style: normal;
  font-display: fallback;
  src: url("../font/IRANSansWeb_Bold.woff") format("woff");
  src: url("../font/IRANSansWeb_Bold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Lato", IRANSansWeb, sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.app {
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
}
@media all and (min-width: 29.9385em) {
  .app {
    width: 95%;
  }
}
@media all and (min-width: 47.9385em) {
  .app {
    width: 80%;
  }
}

.alert {
  width: 80%;
  max-width: 1000px;
  padding: 10px;
  border: 1px solid transparent;
  position: absolute;
  top: 5%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.success {
  border-color: #1fa;
  background-color: #6cffcc65;
}

.warning {
  border-color: #ffbc11;
  background-color: #ffe96c65;
}

.formContainer,
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
}

.formContainer {
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 3px;
}
@media all and (min-width: 29.9385em) {
  .formContainer {
    padding: 8px;
  }
}

.viewContainer {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px auto 3em;
}

.container {
  padding: 8px;
}

.options-menu {
  display: flex;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.option,
.fieldset-option {
  display: flex;
  position: relative;
  padding: 5px 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.option input,
.fieldset-option input {
  padding: 0;
  margin: 0;
  outline: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  appearance: none;
}
.option input:focus ~ .sign,
.fieldset-option input:focus ~ .sign {
  box-shadow: 0 0 0 3px #00a6e8;
}
.option input:checked ~ .sign,
.fieldset-option input:checked ~ .sign {
  background-color: #00a6e8;
}
.option input:checked ~ .sign::after,
.fieldset-option input:checked ~ .sign::after {
  opacity: 1;
}
.option .sign,
.fieldset-option .sign {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #00a6e8;
  transition: all 0.3s;
}
.option .sign::after,
.fieldset-option .sign::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 3px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  opacity: 0;
}
.option span,
.fieldset-option span {
  user-select: none;
  color: #555;
  font-weight: 600;
}
.option:hover .sign,
.fieldset-option:hover .sign {
  box-shadow: inset 0 0 0 3px #00a6e8;
}
.option:hover,
.fieldset-option:hover {
  box-shadow: 0 0 8px #0002;
}

.fieldset-option {
  padding: 0;
  border: 0;
}
.fieldset-option:hover {
  box-shadow: none;
}

.dictionary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 155px);
  border: 1px solid #ccc;
  border-radius: 2px;
}
@media screen and (max-width: 620px) {
  .dictionary {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 400px) {
  .dictionary {
    width: calc(100% - 70px);
  }
}

.wordContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3px;
  border-radius: 2px;
}
.wordContainer h2 {
  font-size: 17px;
  display: inline-block;
}
.wordContainer span {
  font-size: 12px;
}
.wordContainer .mainWord,
.wordContainer .phrases {
  width: 100%;
}
.wordContainer .mainWord .realWord,
.wordContainer .phrases .realWord {
  border-right: 2px solid #deebf3;
}
.wordContainer .mainWord table {
  width: 100%;
}
.wordContainer .mainWord table thead {
  position: relative;
}
.wordContainer .mainWord table thead th {
  font-weight: 600;
  text-align: left;
}
.wordContainer .mainWord table thead .head-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #0091ca;
  transition: opacity 0.3s;
}
.wordContainer .mainWord table thead .head-overlay:hover {
  opacity: 0 !important;
}
.wordContainer .mainWord table tbody {
  display: inherit;
  position: relative;
  width: 100%;
}
.wordContainer .mainWord table tbody .body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: #0091ca;
  transition: opacity 0.3s;
}
.wordContainer .mainWord table tbody .body-overlay:hover {
  opacity: 0 !important;
}
.wordContainer .mainWord table tbody td {
  border-top: 1px solid #ccc;
  padding: 4px 1px;
}
.wordContainer .mainWord table tbody .subWordRow {
  background-color: #ade7fd;
}
.wordContainer .mainWord table tbody .subWordRow span {
  color: #0300e0;
  font-size: 18px;
}
.wordContainer .mainWord table tbody .subWordRow td:last-child {
  direction: rtl;
}
@media all and (min-width: 29.9385em) {
  .wordContainer {
    padding: 10px;
  }
  .wordContainer h2 {
    font-size: 20px;
  }
  .wordContainer span {
    font-size: 14px;
  }
}
@media all and (min-width: 47.9385em) {
  .wordContainer {
    padding: 20px;
  }
  .wordContainer h2 {
    font-size: 22px;
  }
  .wordContainer span {
    font-size: 16px;
  }
}

.next,
.prev {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
  outline: 0;
}
.next::before,
.prev::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #aaa;
}
.next::after,
.prev::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-left: 3px solid #aaa;
  border-bottom: 3px solid #aaa;
  transform: rotate(45deg);
}
.next:hover,
.prev:hover {
  cursor: pointer;
  background-color: #eee;
}
.next:focus,
.prev:focus {
  box-shadow: 0 0 0 3px #00a6e8b6;
  border: 0;
}
.next:focus::before,
.prev:focus::before {
  background-color: #00a6e8b6;
}
.next:focus::before, .next:focus::after,
.prev:focus::before,
.prev:focus::after {
  border-color: #00a6e8b6;
}
@media screen and (max-width: 620px) {
  .next,
.prev {
    width: 40px;
    height: 40px;
  }
  .next::before,
.prev::before {
    width: 15px;
  }
  .next::after,
.prev::after {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 400px) {
  .next,
.prev {
    width: 30px;
    height: 30px;
  }
  .next::before,
.prev::before {
    width: 10px;
    height: 3px;
  }
  .next::after,
.prev::after {
    width: 7px;
    height: 7px;
    border-width: 2px;
  }
}

.next::after {
  transform: rotate(-135deg);
}

.translateArea {
  position: relative;
  padding-right: 2px;
  direction: rtl;
}
.translateArea::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #efefef;
  transition: opacity 0.2s ease-in;
}
.translateArea:hover::after {
  opacity: 0;
}

.translates {
  direction: rtl;
}

.button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1;
  color: #008758;
  background-color: #efefef;
  border-radius: 2px;
  outline: 0;
}
.button:focus {
  box-shadow: 0 0 0 3px #00a6e8b6;
}
.button:hover {
  background-color: #dfdfdf;
}

.formContainer {
  flex-direction: column;
  border: 1px solid #ccc;
}
.formContainer .formGroupContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formContainer .formGroupContainer .groupArea {
  width: 100%;
}
.formContainer .formGroupContainer .translateFieldset {
  display: flex;
  flex-direction: column;
  min-width: 210px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.formContainer .formGroupContainer .translateFieldset legend {
  padding: 0 10px;
}
.formContainer .formGroupContainer .translateFieldset label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  padding: 4px;
  padding-left: 8px;
}
.formContainer .formGroupContainer .translateFieldset label:hover {
  background-color: #dfdfdf;
}
.formContainer .formGroupContainer span {
  font-size: 12px;
  padding: 3px;
}
.formContainer .formGroupContainer:last-child label {
  margin-top: 0px;
}
.formContainer .formGroupContainer:last-child label:last-child {
  margin: 0;
}
.formContainer .formGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #eee;
}
.formContainer .formControl {
  padding: 5px;
  border: none;
  width: 75%;
  border-radius: 3px;
  outline: 0;
  background-color: #fafafa;
  font-family: IRANSansWeb, Lato;
}
.formContainer .formControl:focus {
  box-shadow: 0 0 0 3px #0fa3ff6e;
}
.formContainer .subWordInputsArea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.formContainer .subWordInputsArea button {
  width: 100%;
  font-size: 18px;
  margin: 3px;
  outline: 0;
}
.formContainer .subWordInputsArea button:focus {
  box-shadow: 0 0 0 3px #00e8a2b2;
}
@media all and (min-width: 47.9385em) {
  .formContainer .subWordInputsArea button {
    width: auto;
  }
}
.formContainer .subWordInputs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.formContainer .subWordInputs .packSubWord {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 47.9385em) {
  .formContainer .subWordInputs .packSubWord {
    flex-direction: row;
  }
}
.formContainer .subWordInputs button {
  border: none;
  color: red;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  outline: 0;
}
.formContainer .subWordInputs button:focus {
  box-shadow: 0 0 0 3px #e8000083;
}
.formContainer .translateInput {
  direction: rtl;
}
.formContainer .formButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formContainer .formButtons button {
  display: inline-block;
  padding: 12px 10%;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: #efefef;
  border-radius: 2px;
  outline: 0;
}
.formContainer .formButtons button:hover {
  background-color: #dfdfdf;
}
.formContainer .formButtons button:focus {
  box-shadow: 0 0 0 3px #00a6e89a;
}
@media all and (min-width: 29.9385em) {
  .formContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .formContainer .formGroup span {
    font-size: 14px;
  }
  .formContainer .formGroup label {
    margin: 0;
  }
  .formContainer input[type=submit] {
    max-width: 300px;
  }
}
@media all and (min-width: 47.9385em) {
  .formContainer .formGroup span {
    font-size: 16px;
  }
}

.hide {
  height: 0;
  padding: 0;
  border: none;
  overflow-y: hidden;
}

/*# sourceMappingURL=main.css.map */
